<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BuenViaje" connectionString="U2VydmVyPS5cO0RhdGFiYXNlPUJ1ZW5WaWFqZTtVc2VyIElkPWJ1ZW52aWFqZWR0YmxvZ2luO1Bhc3N3b3JkPTNuY3IxcHQ0ZDA7" />
	</connectionStrings>
	<appSettings>
		<add key="Idioma" value="Español" />
	</appSettings>
</configuration>